body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    background-color: darkslategray;
}

i {
    font-size: 90px;
    padding: 12px;
}

svg {
    height: 120px;
    width: 120px;
    margin-left: 80px;
}

#display-pic {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    margin-top: 20px;
}

.about-me-text {
    text-align: justify;
    margin: auto;
    line-height: 40px;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

li.nav-item {
    font-size: 24px;
}

.contact-icon {
    width: 2rem;
    margin-right: 10px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 998;
}

ul {
    position: relative;
    margin: 0;
    z-index: 999;
    text-transform: uppercase;
    text-align: center;
}

li {
    display: inline-block;
    padding: 1.35em 0;
    margin-right: 3em;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#portfolio-carousel {
    width: 888px;
    margin: 20px auto;
}

.tools-container {
    color: gray;
    background-color: lightseagreen;
    color: black;
    position: relative;
    margin-bottom: 0px;
}

#home {
    padding: 80px;
    background-color: aliceblue;
}

.dp-name {
    line-height: 2px;
    padding-top: 25px;
}

.dp-title {
    line-height: 1px;
}

#carousel-area {
    background-color: black;
    margin-top: 0px;
}

#education-experience {
    background-color: gold;
    padding: 50px;
}
.banner {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.formbox {
    text-align: center;
    margin: auto;
}


#contact-details {
    margin: auto;
    text-align: center;
    padding: 20px 100px;
    background-color: honeydew;
}

.carousel-caption {
    background-color: honeydew;
    opacity: 0.8;
    color: black;
}

